<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
  <div class="card info-card">
    <a data-binder-username="{{Username}}" href="javascript:void(0)" class="card-body username_item">
      <div class="card-title m-0"> </div>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="">
          <div class="d-flex flex-column">
            <span class="h6 fw-bold m-0">{{Username}}</span>
            <span class="small text-reset">{{Role}}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>