RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://localhost/DocTrackingSys/index.php/$1 [R,L]
RewriteRule ^(.*)$ ./index.php/$1 [L]
