/* section .row >  * {
    width: 25% !important;
    flex-grow: 1;
} */

/* .w-fit-content {
    width: fit-content !important;
} */

.form-check-input {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: #58D68D ;
    border: #2ECC71;
}
div#file-requests-holder input {
    cursor: pointer !important;
}