:root {
  --color_blue: #265798;
  --color_yellow: #FFC100;
  --color_white: #F8F9F9;
  --color_black: #17202A;
}
.text-xsm {
  font-size: .65rem !important;
}
.b-color-w {
  background-color: var(--color_white) !important;
}

img.rotate {
  cursor: pointer;
  transition: .3s ease-out;
}