footer{
    border-top: 2px solid var(--color_yellow);
}

#modal-holder{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

#modal-container{
    position: relative; 
    min-width: 300px;
}

#modal-container > button {
    position: absolute; 
    top: -15px; 
    right: -15px;
}

#modal-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}