
header {
    background-color: var(--color_blue);
    border-bottom: 2px solid var(--color_yellow);
}

header > * {
    margin: 0 1rem;
}

header a {
    text-decoration: none;
}

header button {
    border: none;
    background: transparent;
    transition: 0.3s;
}

.sys-title{
    white-space: nowrap;
    font-weight: bold;
}

.phone {
    display: none;
}

/* header nav.pc{
    display: flex;
} */

header nav a:hover,
header nav a:focus{
    background-color: rgba(255, 255, 255, 0.3);
}



@media (max-width: 650px) {
    .pc{
        display: none;
    }
    .phone{
        display: flex;
    }

    /* header nav.pc {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
        margin: 0;
        gap: 1rem;
    } */
}













#notif-holder{
    position: fixed;
    min-width: 15%;
    top: 60px;
    right: 0;
    z-index: 1;
}

.notif{
    margin: .5rem;
    padding: .75rem;
    background-color: white;;
}

.fade-out{
    animation: fade-out 3s ease-in-out forwards;
}

@keyframes fade-out {
    0%{ opacity: 1; transform: translateX(100%); }
    10%{ transform: translateX(0); }
    80%{ opacity: .9; }
    100%{ opacity: 0; }
}