#header {
  background-color: #265699 !important;
}

.header-white {
  color: #F6F9FF !important;
}

.profile-picture {
  min-height: 36px;
  min-width: 36px;
  max-height: 36px;
  max-width: 36px;
  font-size: large !important;
  color: #265699;
  font-weight: bold;
}




















