input[type="checkbox"]{
    background-color: #FDEDEC;
}

input[type="checkbox"]:checked{
    background-color: #EAFAF1;
}

/* #table-container{
    overflow: hidden;
    max-width: 90px ;
    max-height: 90px ;
    transition: .5s ease-out ;
} */

/* #dataTable_wrapper * {
    font-size: small;
} */

#dataTable{
    margin: .5rem;
}

#dataTable_wrapper{
    overflow-x: scroll  ;
    padding: 1rem;
    background-color: #F8F9F9;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    margin: 1rem;
}

#remarks-holder > span {
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
}

.sorting {
    background-color: rgba(0,0,0,0.02) !important;
}

.stud_rec_id_link{
    color: #76a9ec;
    text-decoration: none;
    font-weight: bold;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
}