input[type="checkbox"]{
    background-color: #FDEDEC;
}

input[type="checkbox"]:checked{
    background-color: #EAFAF1;
}

/* #table-container{
    overflow: hidden;
    max-width: 90px ;
    max-height: 90px ;
    transition: .5s ease-out ;
} */

/* #dataTable_wrapper * {
    font-size: small;
} */

#dataTable{
    /* margin: .5rem; */
}

#dataTable_wrapper{
    overflow-x: auto;
    padding: 1rem;
    background-color: #F8F9F9;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
    /* margin: 1rem; */
}

#remarks-holder > span {
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
}

.sorting {
    background-color: rgba(0,0,0,0.02) !important;
}

.stud_rec_id_link,
.user_id_link{
    color: #76a9ec;
    text-decoration: none;
    font-weight: bold;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
}




.user-status,
.stud_rec-status {
    font-size: small;
    padding: 5px;
    border-radius: 5px;
}

.user-status.user-active,
.stud_rec-status.stud_rec-success {
    border: 1px solid #30CD73;
    color: #30CD73;
    background-color: #EAFAF1;
}

.user-status.user-inactive,
.stud_rec-status.stud_rec-danger {
    border: 1px solid #F44336;
    color: #F44336;
    background-color: #FFEBEE;
}



/* .stud-rec-remarks{
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #E74D3E;
} */