*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide{
    display: none !important;
}

:root{
    --color_blue : #265898;
    --color_yellow : #FFC100;
    --color_white : #F8F9F9;
    --color_black : #17202A;
} 

body {
    height: 100vh;
}

main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.color-b{color: var(--color_blue) !important;}
.color-y{color: var(--color_yellow) !important;}
.color-w{color: var(--color_white) !important;}
.color-B{color: var(--color_black) !important;}

.b-color-b{background-color: var(--color_blue) !important;}
.b-color-y{background-color: var(--color_yellow) !important;}
.b-color-w{background-color: var(--color_white) !important;}
.b-color-B{background-color: var(--color_black) !important;}



/**
    CUSTOM
*/

.flex-r{display: flex; flex-direction: row !important;}
.flex-rr{display: flex; flex-direction: row-reverse !important;}
.flex-c{display: flex; flex-direction: column !important;}
.flex-cr{display: flex; flex-direction: column-reverse !important;}
.flex-wrap{flex-wrap: wrap;}
.flex-grow{flex-grow: 1;}
.flex-shirk{flex-shrink: 1;}
.justify-c-center{justify-content: center;}
.justify-c-space-between{justify-content: space-between;}
.justify-c-space-around{justify-content: space-around;}
.justify-c-space-evenly{justify-content: space-evenly;}
.justify-c-stretch{justify-content: stretch;}
.justify-c-start{justify-content: flex-start;}
.justify-c-end{justify-content: flex-end;}
.justify-s-center{justify-self: center;}
.justify-s-space-between{justify-self: space-between;}
.justify-s-space-around{justify-self: space-around;}
.justify-s-space-evenly{justify-self: space-evenly;}
.justify-s-stretch{justify-self: stretch;}
.justify-s-start{justify-self: flex-start;}
.justify-s-end{justify-self: flex-end;}
.align-i-center{align-items: center;}
.align-i-start{align-items: flex-start;}
.align-i-end{align-items: flex-end;}
.align-i-stretch{align-items: stretch;}
.align-s-center{align-items: center;}
.align-s-start{align-items: flex-start;}
.align-s-end{align-items: flex-end;}
.align-s-stretch{align-items: stretch;}

.font-xxs{font-size: .5rem;}
.font-xs{font-size: 1rem;}
.font-s{font-size: 1.25rem;}
.font-m{font-size: 1.5rem;}
.font-l{font-size: 2rem;}
.font-lg{font-size: 2.25rem;}
.font-xl{font-size: 3rem;}
.font-xxl{font-size: 4rem;}
.font-b{font-weight: bold;}
.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}
.text-i{font-style: italic;}
.text-u{text-decoration: underline;}
.text-n{text-decoration: none;}
.text-nw{white-space: nowrap;}

.g-1{gap: .5rem}
.g-2{gap: .75rem}
.g-3{gap: 1.5rem}
.g-4{gap: 2.25rem;}
.g-5{gap: 2.75rem;}

.border-t{border-top: 1px solid rgba(0, 0, 0, .2); } 
.border-b{border-bottom: 1px solid rgba(0, 0, 0, .2); } 
.border-l{border-left: 1px solid rgba(0, 0, 0, .2); } 
.border-r{border-right: 1px solid rgba(0, 0, 0, .2); } 
.border-n{border: none;}

/**
    END CUSTOM
*/

.slide-in-out{
    animation: slide-in-out 3s ease-in-out forwards;
}

@keyframes slide-in-out {
    0%{ opacity: 1; transform: translateX(100%); }
    10%{ transform: translateX(0); }
    80%{ opacity: .9; }
    100%{ opacity: 0; }
}

.fade-out{
    animation: fade-out .3s ease-in-out forwards;
}

@keyframes fade-out {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

.fade-in{
    animation: fade-in .3s ease-in-out forwards;
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}