*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide{
    display: none !important;
}

:root{
    --color_blue : #265898;
    --color_yellow : #FFC100;
    --color_white : #F8F9F9;
    --color_black : #17202A;
} 

body {
    height: 100vh;
}

main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.color-b{color: var(--color_blue) !important;}
.color-y{color: var(--color_yellow) !important;}
.color-w{color: var(--color_white) !important;}
.color-B{color: var(--color_black) !important;}

.b-color-b{background-color: var(--color_blue) !important;}
.b-color-y{background-color: var(--color_yellow) !important;}
.b-color-w{background-color: var(--color_white) !important;}
.b-color-B{background-color: var(--color_black) !important;}

.flex-r{display: flex;}
.flex-rr{display: flex; flex-direction: row-reverse;}
.flex-c{display: flex; flex-direction: column;}
.flex-cr{display: flex; flex-direction: column-reverse;}
.flex-grow{flex-grow: 1;}
.flex-shirk{flex-shrink: 1;}
.justify-c-center{justify-content: center;}
.justify-c-space-between{justify-content: space-between;}
.justify-c-space-around{justify-content: space-around;}
.justify-c-space-evenly{justify-content: space-evenly;}
.justify-c-stretch{justify-content: stretch;}
.justify-c-start{justify-content: flex-start;}
.justify-c-end{justify-content: flex-end;}
.justify-s-center{justify-self: center;}
.justify-s-space-between{justify-self: space-between;}
.justify-s-space-around{justify-self: space-around;}
.justify-s-space-evenly{justify-self: space-evenly;}
.justify-s-stretch{justify-self: stretch;}
.justify-s-start{justify-self: flex-start;}
.justify-s-end{justify-self: flex-end;}
.align-i-center{align-items: center;}
.align-i-start{align-items: flex-start;}
.align-i-end{align-items: flex-end;}
.align-i-stretch{align-items: stretch;}
.align-s-center{align-items: center;}
.align-s-start{align-items: flex-start;}
.align-s-end{align-items: flex-end;}
.align-s-stretch{align-items: stretch;}
.font-sm{font-size: smaller;}
.font-s{font-size: small;}
.font-m{font-size: medium;}
.font-l{font-size: large;}
.font-lg{font-size: larger;}
.font-xl{font-size: x-large;}
.font-xxl{font-size: xx-large;}
.text-c{text-align: center;}
.text-b{font-weight: bold;}
.text-i{font-style: italic;}
.text-u{text-decoration: underline;}
.text-n{text-decoration: none;}

.g-1{gap: .25rem}
.g-2{gap: .5rem}
.g-3{gap: .75rem}
.g-4{gap: 1rem;}
.g-5{gap: 1.5rem;}