*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide{
    display: none !important;
}

:root{
    --color_blue : #265898;
    --color_yellow : #FFC100;
    --color_white : #F8F9F9;
    --color_black : #17202A;
} 

body {
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
    background-color: #EBF5FB;
}

.color-b{color: var(--color_blue) !important;}
.color-y{color: var(--color_yellow) !important;}
.color-w{color: var(--color_white) !important;}
.color-B{color: var(--color_black) !important;}

.b-color-b{background-color: var(--color_blue) !important;}
.b-color-y{background-color: var(--color_yellow) !important;}
.b-color-w{background-color: var(--color_white) !important;}
.b-color-B{background-color: var(--color_black) !important;}




.slide-in-out{
    animation: slide-in-out 3s ease-in-out forwards;
}

@keyframes slide-in-out {
    0%{ opacity: 1; transform: translateX(100%); }
    10%{ transform: translateX(0); }
    80%{ opacity: .9; }
    100%{ opacity: 0; }
}

.fade-out{
    animation: fade-out .3s ease-in-out forwards;
}

@keyframes fade-out {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

.fade-in{
    animation: fade-in .3s ease-in-out forwards;
}

@keyframes fade-in {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}



.loading{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::before{
    content: "";
    display: flex;
    width: 15px;
    height: 15px;
    padding: 15px;
    position: absolute;
    align-self: center;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0);
        border-radius: 0;
        border:  5px solid var(--color_blue);
    }
    50%{
        transform: rotate(180deg); 
        border-radius: 100px;
        border:  5px solid var(--color_yellow);
    }
    100%{
        transform: rotate(360deg);
        border-radius: 0;
        border:  5px solid var(--color_blue);
    }
}




#notif-holder{
    position: fixed;
    min-width: 15%;
    max-width: 30%;
    top: 110px;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.notif{
    margin: .5rem;
    padding: .75rem;
    background-color: white;;
}