#dataTable_wrapper{
    overflow-x: auto;
    padding: 1rem;
    background-color: #F8F9F9;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
    /* margin: 1rem; */
}

.user-status,
.stud_rec-status {
    font-size: small;
    padding: 5px;
    border-radius: 5px;
}

.user-status.user-active,
.stud_rec-status.stud_rec-success {
    border: 1px solid #30CD73;
    color: #30CD73;
    background-color: #EAFAF1;
}

.user-status.user-inactive,
.stud_rec-status.stud_rec-danger {
    border: 1px solid #F44336;
    color: #F44336;
    background-color: #FFEBEE;
}

.input-group-text {
    background-color: rgba(0,0,0,0.025);
}