input[type="checkbox"]{
    background-color: #FDEDEC;
}

input[type="checkbox"]:checked{
    background-color: #EAFAF1;
}

#dataTable_wrapper{
    overflow-x: auto;
    padding: 1rem;
    background-color: #F8F9F9;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
    /* margin: 1rem; */
}

#remarks-holder > span {
    box-shadow: 3px 2px 5px 1px rgba(0,0,0,0.3);
}

.sorting {
    background-color: rgba(0,0,0,0.02) !important;
}

.stud_rec_id_link,
.user_id_link{
    color: #76a9ec;
    text-decoration: none;
    font-weight: bold;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
}




.select2-container--default 
.select2-selection--single {
    border: none !important;
}




.user-status,
.stud_rec-status {
    font-size: small;
    padding: 5px;
    border-radius: 5px;
}

.user-status.user-active,
.stud_rec-status.stud_rec-success {
    border: 1px solid #30CD73;
    color: #30CD73;
    background-color: #EAFAF1;
}

.user-status.user-inactive,
.stud_rec-status.stud_rec-danger {
    border: 1px solid #F44336;
    color: #F44336;
    background-color: #FFEBEE;
}



/* .stud-rec-remarks{
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #E74D3E;
} */


#image-viewer-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-viewer {
    max-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    /* max-width: calc(100% - 100px);
    max-height: calc(100% - 100px); */
}

#image-viewer-holder {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    position: relative;;
    /* max-height: calc(100vh - 100px);
    max-width: calc(100vw - 100px); */
    /* max-width: 500px; */
}

#close-image-viewer-container{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
}