<div class="col-12 alert alert-{{color}} border border-{{color}} document-component mb-1 p-1">
  <div class="row">
    <div class="col-1 my-auto mx-auto doc-check">
      <input class="m-1 remove-when-A remove-when-V" type="checkbox" name="{{doc_identity}}" {{checked}}>
    </div>
    <div class="col-6 my-auto doc-check">
      {{doc_name}}
    </div>
    <div class="col-5 text-end my-auto">
      <button class="btn btn-success m-1 remove-when-A remove-when-V" id=""><i class="fa-solid fa-image"></i></button>
      <button class="btn btn-primary m-1" id=""><i class="fa-solid fa-eye"></i></button>
    </div>
  </div>
</div>