<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info" role="alert">
      <p>
        <b>
          Merge a record to another shlef.
        </b>
      </p>
      <small class="text-muted">
        <i class="fa-solid fa-circle-info"></i> If a record is found in another shelf with the same
        <b>First Name,</b>
        <b>Middle Name,</b> and
        <b>Last Name</b>
        the merge will be successful.
      </small>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="form-group p-3">
      <label>Shelf Name <small class="text-danger">*</small></label>
      <select id="shelf" name="id" class="form-control">
        <option value="" selected>Select Shelf</option>
        {{options}}
      </select>
    </div>
  </div>
</div>