<div class="card card-body border shadow-sm">
  <div class="card-title">Search Filter</div>
  <div class="container">

    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group mb-3">
          <label for="">Request From</label>
          <input name="created_from" type="date" placeholder="" class="form-control">
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group mb-3">
          <label for="">Request To</label>
          <input name="created_to" type="date" placeholder="" class="form-control">
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group mb-3">
          <label for="">Request Due From</label>
          <input name="due_from" type="date" placeholder="" class="form-control">
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="form-group mb-3">
          <label for="">Request Due To</label>
          <input name="due_to" type="date" placeholder="" class="form-control">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="">First name</label>
          <input name="r_fname" type="text" class="form-control">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="">Middle name</label>
          <input name="r_mname" type="text" class="form-control">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="">Last name</label>
          <input name="r_lname" type="text" class="form-control">
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="">Status</label>
          <select name="status" class="form-select">
            <option value="">Select Status</option>
          </select>
        </div>
      </div> -->

    </div>
  </div>
</div>